.card-title{
    font-family: 'Pacifico', cursive;
}

.breadcrumb-item{
    font-family: 'Pacifico', cursive;
}

.m-0{
    font-family: 'Pacifico', cursive; 
}

.direct-chat{
    font-family: 'Pacifico', cursive; 
}